.ant-layout-sider {
  flex: 0 0 22% !important;
  max-width: 0 !important;
  min-width: fit-content !important;
  background: none !important;
  margin-right: 5rem;
  margin-top: 12rem;
}
.ant-layout {
  /* background: none !important; */
  background-color: #efefef !important;
}
/* .chalits{
    margin-left: 15rem;
} */
.site-layout-content {
  height: 170vh !important;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.maps {
  position: absolute;
  height: 55%;
  width: 156rem !important;
  margin-left: -7%;
}
.ads {
  margin-top: 65%;
  margin-left: -7%;
}
.rentchalet {
  width: 95%;
}
/* .chalitsContent {
  width: 75%;
  margin-left: 22%;
} */
