.card {
  text-align: left;
}
.shadow-card{
  border-radius: 1.25rem !important;
}
.imgCard{
  height: 14.9rem;
  border-radius: 1.25rem !important;
}
.badge {
  background-color: #fef5df;
}
.footerCard {
  border: none !important;
  text-align: right;
  background: none !important;
  display: flex;
  justify-content: flex-end;
}
.coloor {
  color: #888888 !important;
}
.view {
  border-radius: 1rem !important;
}
.features{
  color: #8696A9;
}
.featureImg{
  width: 2.8rem;
  height: 1.7rem;
}
.air{
  width: 11rem;
}