.card {
  text-align: left;
}
.shadow-card {
  border-radius: 1.25rem !important;
}
/* @media(min-width:1360px){
  .shadow-card{
    width: 22.9rem; 
  }
}
@media(min-width:1920px){
  .shadow-card{
  width: 27.1rem;
    
  }
} */
@media (min-width: 1360px) {
  .ml-chalet {
    margin-left: 10rem;
  }
}
@media (min-width: 1920px) {
  .ml-chalet {
    margin-left: 0rem;
  }
}
@media (min-width: 1920px) {
  .Card-prof-height {
    height: 31.5rem;
    width: 27.1rem;
  }
}
@media (min-width: 1360px) {
  .Card-view-height {
    width: 22.9rem;
    height: 26.6rem;
  }
}
@media (min-width: 1920px) {
  .Card-view-height {
    height: 37.2rem;
    width: 27.1rem;
  }
}
.imgCard {
  border-radius: 1.25rem !important;
}
@media (min-width: 1360px) {
  .imgCard {
    height: 10.6rem;
  }
}
@media (min-width: 1920px) {
  .imgCard {
    height: 14.9rem;
  }
}
.badge {
  background-color: #fef5df;
}
.footerCard {
  border: none !important;
  text-align: right;
  background: none !important;
  display: flex;
  justify-content: flex-end;
}
.coloor {
  color: #888888 !important;
}
.view {
  border-radius: 1rem !important;
}
.features {
  color: #8696a9;
}
@media (min-width: 1360px) {
  .featureImg {
    width: 1.14rem;
    height: 0.87rem;
  }
}
@media (min-width: 1920px) {
  .featureImg {
    width: 2.8rem;
    height: 1.7rem;
  }
}
.air {
  width: 11rem;
}
.btn-trash,
.status {
  position: absolute !important;
  top: 0;
  right: 0;
  color: #e81a1af5 !important;
  background: none !important;
  border: none !important;
}
.edit-chalet {
  position: absolute !important;
  right: 8%;
  top: 42%;
  border-radius: 50%;
}
.status {
  right: 13%;
  top: 2%;
}
