.details-card{
  height: 53.5rem;
}
.details-card h3{
 color: #0070D3;
 font-size: 2rem;
 font-weight: bold;
}
.details-card h4{
    color: #FFB741;
    font-size: 1.6rem;
}
.btn-dropdown{
    font-size: 1.2rem !important;
}
.about-title{
    font-size: 1.2rem !important;
    color: #484848 !important;
}
.details-card p{
    font-weight: 400 !important;
}
.book{
    font-size: 1.8rem;
    color: #0070D3;
    margin: 0rem 1rem;
}
.check-btn{
    background-color: #0070D3 !important;
    margin: 1.8rem 9.4rem 0rem;
    padding: 1rem !important;
}
.slidecontainer {
    width: 100%;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
  }
  .spans{
 
    font-family: Poppins;
    margin-bottom: 1rem;
    padding: 1rem;
  }
  @media(min-width:1360px){
    .spans{
      font-size: .8rem;
    }
  }
  @media(min-width:1920px){
    .spans{
      font-size: .8rem;
    }
  }
  .rangeInput{
    transform: translate(0px, 4px);
  }
  @media(min-width:1360px){
    .rangeInput{
      width: 40%;
    }
  }
  @media(min-width:1920px){
    .rangeInput{
      width: 50%;
    }
  }
  .link:hover{
    text-decoration: none;
  }
  .link{
    margin: 1.8rem 7.4rem 0rem;
  }