.forget{
    margin-top: 15rem !important;
}
.forget-logo{
    transform: translateY(-14px);
}
.forget-card{

    width: 78.1rem;
        /* height: 47.6rem; */
}
.header-card{
    background: #ffffff !important;
    color: #0070D3 !important;
    align-items: baseline !important;
    font-size: 3rem !important;
    font-weight: bold !important;
}
.forget-header{
    color: #FFB741 !important;
    font-size: 5.4rem !important;
    text-shadow: 3px 3px 6px #00000085;
    margin-right: 7rem;
}
.forget-body{
    font-size: 2.5rem;
    color:#ffffff ;
    font-family:  Tahoma
}
.forget-container{
    height: 100vh;
    background-image:url('/images/ForgetPassbk.png') ;
}