.ant-card-head {
  color: white;
}

.comment-title {
  font-size: 1.4rem !important;
  color: #0070d3;
  font-family: lato;
  font-weight: bold !important;
}
/* .anticon svg {
  color: #ffb741 !important;
} */
@media (min-width: 1280px) {
  .Review-card {
    height: 44.6rem;
  }
}
@media (min-width: 1360px) {
  .Review-card {
    height: 39rem;
  }
}
@media (min-width: 1920px) {
  .Review-card {
    height: 53.8rem;
  }
}
