#home-content {
    padding: 0.5px;
    height: 100%;
  }
  #home-menu {
    background-color: transparent;
    margin-right: -6%;
    color: #ffffff;
    margin-top: 0.8%;
    font-size: 1.8rem;
    font-family: 'Google Sans';
    z-index: 555;
    height: 50rem;
  }
  .home-menu-item:hover {
    color: #F8B544 !important;
    border-bottom: 2px solid #F8B544 !important
  }
  .home-menu-item-active {
    color: #F8B544 !important;
    border-bottom: 2px solid #F8B544 !important
  }
  #home-header {
    display: flex;
    background-image: url('/images/Header photo.png');
    background-size: cover;
    height: 70vh;
    background-repeat: no-repeat;
  position: relative;
  /* left: -9%; */
  /* width: 192.1rem;
  transform: translate(10px, 0px); */
  }
  @media(min-width:1280px ){
    #home-header{
        height: 79vh;
    } 
  }
  @media(max-width:1360px){
    #home-header{
      height:69vh;
    }
  }
      @media(min-width:1920px){
        #home-header{
          height: 64vh;
        }
      }
  .layout {
    height: 100%;
  }
  #root {
    height: 100%;
  }
  .logo{
    display: flex;
    width: 60%;
    height: 50%;
    padding-top: 2%;
  }
  .logo-img{
    width: 22%;
    height: 10%;
  }
  @media(min-width:1360px){
    .logo-img{
      width: 37%;
    }
  }
  @media(min-width:1920px){
    .logo-img{
      width: 22%;}
  }
  .ant-btn{
    border-radius: 0 !important;

  }
  .login-btn{
    background-color: #F8B544;
    color: #ffffff;
    font-size: 2.3rem !important;
    padding: .5rem 2rem 1rem !important;
    text-decoration: none !important;
  }
  .wave{
    position: absolute;
    right: 0%;
    bottom: -15rem;
  }
  @media (min-width:1280px){
    .wave{
      position: absolute;
      right: 0%;
      bottom: -12rem;
    }
  }
@media(min-width:1360px){
  .wave{
    bottom: -15rem;
  }
}
  @media(min-width:1920px){
    .wave{
      position: absolute;
      /* bottom: 0rem; */
      /* right: -1.5rem; */
      right: 0rem;
      bottom: -7rem;
      /* transform: rotateX(56deg); */
} 
  }
  .wave-img{
    width: 194.3rem;
  }
  .chair{
    position: absolute;

    z-index: 0;
  }
  @media(min-width:1360px){
    .chair{
      height: 34.6rem;
      width: 34.5rem;
      top: 38rem;
      right: 8.4rem;
    }
  }
  @media(min-width:1920px){
    .chair{
      /* height: 49.5rem; */
      width: 18%;
      height: 62%;
      top: 31rem;
      right: 16.4rem;
    }
  }
  .header-content{
    position: absolute;
   
  }
  @media(min-width:1360px){
    .header-content{
      top: 19%;
      left: 24%;
    }
  }
  @media(min-width:1920px){
    .header-content{
      top: 23%;
      left: 34%;
    }
  }
  .header-content h1,.header-content p{
    color: #ffffff;
     
     
      text-shadow: 6px 6px 8px #000000;
  }
  .header-content h1{
    font-size: 5.4rem;
    letter-spacing: 2.5px;
    margin-bottom: 0px;
  }
  .header-content p{
    font-size: 4.2rem;
    text-align: center;
    font-weight: 700;
  }
  .header-content span{
   color: #F8B544; 
   font-weight: 700;
  }
  .empty-div-left,.empty-div-right{
  background-color: white;
  height: 4%;
  width: 28%;
  }
  .empty-div-left{
  
    position: absolute;
    top: 22%;
    right: 104%;
  }
  .empty-div-right{
    position: absolute;
    top: 22%;
    left: 104%;
  }
  .ant-layout-header{
    background-color: transparent !important;
  }
  .side-wave-img{

    position: absolute;
     
      right: 0;
      height: 70.9rem;
      z-index: 1;
  }
  @media(min-width:1360px){
    .side-wave-img{
      top: 23rem;
    }
  }
  @media(min-width:1920px){
    .side-wave-img{
      top: 18rem;
    }
  }