.ant-layout{
    /* background: none !important; */
    background-color: #EFEFEF !important;
}
.site-layout-content{
    height: 100vh !important;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.map{
    height: 18vh;
    margin-top: 3rem;
}
.site-flow{
   background-color: #0070D3;
}
