.ant-layout {
  /* background: none !important; */
  background-color: #efefef !important;
}
.site-home-content {
  height: 233vh !important;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
@media(max-width:1280px){
  .site-home-content {
    height: 197vh !important;}
}
.home-map {
  /* height: 18vh; */
  /* height: 42vh; */
  
  margin-top: 2.8rem;
}
@media(min-width:1280px){
  .home-map{
    height: 46.6rem;
    width: 98.5rem;
  }
}
@media(min-width:1920px){
  .home-map{
    height: 52rem;
    width: 109.8rem;
  }
}
.home-map h5,.whychalet h5,.site-card-wrapper h5{
  font-size: 2rem;
  color: #C8D2E2;
}
.site-card-wrapper h5{
  transform: translate(-67px,42px);
  margin-bottom:10rem
}
.whychalet {
  height: 831px;
  background-color: #79b0e1;
  margin-top: 6.3%;
  text-align: center;
  margin-bottom: 1%;
  position: relative;
  /* opacity: 0.8; */
}
.whychalet h5{
  padding-top: 8rem;
}
.whychalet-img {
  
  /* height: 578.89px; */
  margin-top: 6%;
  position: absolute;
 
  bottom: -123.5%;
}

@media(min-width:1280px){
  .whychalet-img{
    width: 97.3rem;
    left: 14%;
    transform: translate(0px, -264px);
  }
}

@media(min-width:1360px){
  .whychalet-img{
    width: 97.3rem;
    left: 14%;
    transform: translate(0px, 175px);

  }
}
@media(min-width:1920px){
  .whychalet-img{
    width: 1145.91px;
    left: 20%;
    transform: translate(0px, 0px);
}
}
.left-side-wave-img{
    position: absolute;
    top: 150rem;
    left: -3px;
}
@media(min-width:1280px){
  .left-side-wave-img{
    top: 186rem;
    height: 56.2rem;
  }
}
@media(min-width:1920px){
  .left-side-wave-img{
    top: 172rem;
    height: 76.9rem;
  }
}
@media(max-width:1280px){
  .Memberships-container{
    transform: translate(88px, 10px)
  }
}
@media(min-width:1360px){
.memberships{

  margin-left: 11rem;

}
}
@media(min-width:1920px){
  .memberships{
  
    margin-left: 0;
  
  }
  }
.ant-card-head {
  border: none !important;
}
.icon {
  display: block;
}
.site-card-wrapper{
  transform: translateY(-164px);
}
.card {
  box-shadow: 10px 10px 5px rgb(0 0 0 / 15%);

}
.card-header {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: #0070d3 !important;
  font-size: 3.5rem;
}
.card-body {
  text-align: left;
  color: #31418c;

}
@media(min-width:1360px){
  .card-body {
padding: 4rem 2rem 3rem !important;
}}
@media(min-width:1920px){
  .card-body {
    padding: 6rem 2rem 3rem !important;
}}
.size{

  font-weight: 500;
}
@media(min-width:1280px){
  .size {
    font-size: 2rem;
  }
  }
@media(min-width:1920px){
.size {
  font-size: 2.4rem;

}
}
@media(min-width:1360px){
  .subscribe{
    width: 30rem;
  }
}
@media(min-width:1920px){
  .subscribe{
    width: 35.4rem;
  }
}
@media(min-width:1280px){
  .headerCard{
    font-size: 2.9rem;
  }
}
@media(min-width:1920px){
.headerCard{
  font-size: 3.5rem;
}
}
@media(min-width:1280px){
  .basic-card ,.advance-card,.platinum-card{
    height: 38rem;
    width: 28.7rem;
  }
  }
@media(min-width:1360px){
  .basic-card ,.advance-card,.platinum-card{
    height: 39.8rem;
    width: 30rem;
  }
  }
@media(min-width:1920px){
.basic-card ,.advance-card,.platinum-card{
  height: 46.8rem;
  width: 35.4rem;
}
}

.advance-card {
  transform: translateY(-28px);
  z-index: 1;
}
.basic-card {
  transform: translateX(19px);
}
.platinum-card {
  transform: translateX(-22px);
}
/* .advance-img {
  width: 56%;
}
.platinum-img {
  width: 37%;
} */
.blue-icon {
  color: #0070d3;
  font-size: medium;
  margin-left: 2rem;
  margin-right: 1rem;
}
.card-footer {
  border: none !important;
  background-image: url("/images/wave.png");
  background-color: rgba(0, 0, 0, 0) !important;
  color: #ffb741 !important;
  font-size: 3.5rem;
  font-weight: 500;
  background-size: cover;
  padding: 1rem 2rem;
}
.card-footer:last-child {
  border-radius: 0 !important;
}
.ant-layout-footer {
  background-color: #0070d3 !important;
  display: flex;
  justify-content: space-between;
  color: #ffff;
}
@media(min-width:1280px){
  .home-footer{
        transform: translate(0px, 0px);
  }
}
@media(min-width:1360px){
  .home-footer{
        transform: translate(0px, 200px);
  }
}
@media(min-width:1920px){
  .home-footer{
    transform: translate(0px, 0px);
  }
}
.filterContainer{
  
  position: relative;
  z-index: 1000000000000000;
}
@media(min-width:1280px) and (max-width:1350px){
  .site-card-wrapper{
    margin-left: -9% ;
    margin-top: 13% ;
  } 
}
@media(min-width:1350px){
  .site-card-wrapper{
    margin-top: 10%;
  }
}
@media(min-width:1600px){
  .site-card-wrapper{
    margin-top: 8%;
  }
}
@media(min-width:1700px) and (max-width:1910px){
  .site-card-wrapper{
    margin-top: 5%;
  }
}

@media(min-width:1920px){
  .site-card-wrapper{
    margin-top: 8%;
  }
}

@media(min-width:1280px){
  .filterContainer{
    margin: 0 11%;
  
  }
}

@media(min-width:1360px){
  .filterContainer{
    margin: 0 3%;
    margin-top: 7rem !important;
  }
}

@media(min-width:1920px){
  .filterContainer{
    margin: -5.5rem 24% -2rem;
    margin-top: 7rem !important;
  }
}

@media(min-width:1360px){
  .map-header{
    padding-top: 1rem;
  }
}
@media(min-width:1920px){
  .map-header{
    padding-top: 4rem
  }
}