.ant-layout {
  /* background: none !important; */
  background-color: #efefef !important;
}
.site-layout-content {
  height: 170vh !important;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.map {
  /* height: 18vh; */
  height: 20%;
  margin-top: 3rem;
}
.whychalet {
  background-color: #79b0e1;
  margin-top: 6.3%;
  text-align: center;
  margin-bottom: 5%;
  opacity: 0.8;
}
.whychalet-img {
  width: 50%;
  padding: 3%;
}
.ant-card-head {
  border: none !important;
}
.icon {
  display: block;
}
.card {
  box-shadow: 10px 10px 5px rgb(0 0 0 / 15%);
}
.card-header {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: #0070d3 !important;
  font-size: larger;
}
.card-body {
  text-align: left;
  color: #31418c;
  padding: 2rem 2rem 3rem !important;
}
.size {
  font-size: large;
  font-weight: 500;
}
.advance-card {
  transform: translateY(-28px);
  z-index: 1;
}
.basic-card {
  transform: translateX(19px);
}
.platinum-card {
  transform: translateX(-22px);
}
.advance-img {
  width: 56%;
}
.platinum-img {
  width: 37%;
}
.blue-icon {
  color: #0070d3;
  font-size: medium;
  margin-left: 2rem;
  margin-right: 1rem;
}
.card-footer {
  border: none !important;
  background-image: url("/images/wave.png");
  background-color: rgba(0, 0, 0, 0) !important;
  color: #ffb741 !important;
  font-size: large;
  font-weight: 500;
  background-size: cover;
  padding: 1rem 2rem;
}
.card-footer:last-child {
  border-radius: 0 !important;
}
.ant-layout-footer {
  background-color: #0070d3 !important;
  display: flex;
  justify-content: space-between;
  color: #ffff;
}
