.profile {
  background-color: #efefef;
}
.fadee {
  opacity: 0.5 !important;
}
.nofade {
  opacity: 1;
}
.jumbotron {
  background-color: #0070d3 !important;
  position: relative;
  height: 35vh;
}
.username {
  position: absolute;
  top: 75%;
  left: 21%;
  font-weight: bold;
  color: white;
  font-size: 3.3rem;
  text-shadow: 3px 3px 6px #00000085;
}
.ant-layout-content {
  text-align: center;
}
.color {
  color: #0070d3 !important;
}
.addButton {
  width: 20.8rem;
  height: 8.7rem;
  padding-top: 2rem !important;
  position: absolute;
  bottom: 18%;
  left: 7%;
  background-color: white !important;
  border-radius: 1.25rem !important;
  font-size: 1.1rem !important;
  box-shadow: 4px 8px 13px #00000038;
  border: none !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1280px) and (min-height: 720px) {
  .addButton {
    position: absolute;
    bottom: -3%;
    left: 5%;
  }
}
@media (min-width: 1280px) and (min-height: 800px) {
  .addButton {
    position: absolute;
    bottom: 9%;
    left: 7%;
  }
}
@media (min-width: 1280px) and (min-height: 1024px) {
  .addButton {
    position: absolute;
    bottom: 28%;
    left: 5%;
  }
}
@media (min-width: 1360px) and (max-width: 1366px) and (min-height: 768px) {
  .addButton {
    position: absolute;
    bottom: 2%;
    left: 7%;
  }
}
@media (min-width: 1500px) {
  .addButton {
    margin-bottom: -2%;
  }
}
@media (min-width: 1680px) and (min-height: 1050px) {
  .addButton {
    margin-bottom: 1%;
  }
}
@media (min-width: 1920px) {
  .addButton {
    position: absolute;
    bottom: -5%;
    left: 11%;
    border: none !important;
  }
}
.add {
  font-size: -webkit-xxx-large;
}
.shadow {
  box-shadow: 10px 10px 5px #00000038;
  border-radius: 2.25rem !important;
}
.prof-filter {
  width: 12rem;
}
/* .ant-layout {
  background: none !important;
} */
.filterbtn {
  background: none;
  border: none;
  outline: 0 !important;
  color: #31418c;
  font-size: large;
}
.content {
  width: 75%;
  margin-left: 22%;
}
@media (min-width: 1280px) {
  .content {
    margin-left: 25%;
  }
  .username {
    position: absolute;
    top: 75%;
    left: 25%;
  }
}
@media (min-width: 1360px) and (max-width: 1366px) and (min-height: 768px) {
  .content {
    margin-left: 25%;
  }
  .username {
    position: absolute;
    top: 75%;
    left: 24%;
  }
}
@media (min-width: 1440px) and (min-height: 900px) {
  .content {
    margin-left: 25%;
  }
  .username {
    position: absolute;
    top: 85%;
    left: 34%;
  }
}
@media (min-width: 1536px) {
  .content {
    margin-left: 25%;
  }
  .username {
    position: absolute;
    top: 75%;
    left: 26%;
  }
}
@media (min-width: 1280px) {
  .username {
    position: absolute;
    top: 82%;
    left: 30%;
  }
}
@media(max-width:1360px){

  .chaletCard-profile{
    margin-right: 2rem;
  }
}
.ant-layout-sider {
  flex: 0 0 22% !important;
  max-width: 0 !important;
  min-width: fit-content !important;
  background: none !important;
}
.requestfilter {
  justify-content: flex-end !important;
  /* margin-left: 5%; */
}
.arrow {
  font-size: large;
  margin-right: 13%;
  margin-top: 13%;
  color: #0070d3;
}
.request-content {
  font-size: medium;
  color: #31418c;
}
.viewbtn {
  background-color: #0070d3 !important;
  color: white !important;
  border-radius: 1rem !important;
  margin-left: 2rem;
  box-shadow: 8px 7px 10px #0000001c;
}
.trash {
  font-size: x-large;
  color: #c8d2e287;
  margin-right: -16rem;
}
@media (min-width: 1280px) {
  .trash {
    margin-right: -5rem;
  }
}
@media (min-width: 1920px) {
  .trash {
    margin-right: -16rem;
  }
}
/* .anticon {
  font-size: large;
  margin-top: 5% !important;
} */
/* .ant-row {
  justify-content: flex-end !important;
} */
.yellow {
  color: #ffb741;
}
.red {
  color: #be4f47;
}

.adds {
  height: 42.6rem;
}
@media (max-width: 1280px) {
  .adds {
    width: 18rem;
    margin-bottom: 3rem;
    height: 29rem;
    margin-top: 8rem;
  }
}
@media (min-width: 1360px) {
  .adds {
    width: 19rem;
    margin-bottom: 3rem;
  }
}
@media (min-width: 1920px) {
  .adds {
    width: 26.9rem;
    margin-bottom: 0rem;
  }
}
.side {
  margin-top: -26rem;
}
@media(max-width:1280px){
  .side{
    transform: translate(-13px, 10px);
  }
}
.loader {
  text-align: center;
  border-radius: 4px;
  margin-top: 40rem !important;
  margin-bottom: 20px;
  padding: 30px 50px;
  margin: 20px 0;
  font-size: xx-large !important;
}
