.card{
    box-shadow: 10px 10px 5px #00000038;
}
.userCard{
    padding: 0 55px !important;
    position: absolute;
    width: 37.8rem;
}
@media(min-width:1280px){
    .userCard{
        margin-left: -2%;
    }
}
@media(min-width:1360px) and (max-width:1366px) and (min-height:768px){
    .userCard{
        margin-left: -1%;
    }
}
@media(min-width:1440px) and (min-height:900px){
    .userCard{
        margin-left: 0%;
    }
}
@media(min-width:1920px){

    .userCard{

        margin-left: 3%
    }
}
.imgCard{
    position: relative;
}
.info{
    position: absolute;
    top: 50%;
    left: 4%;
    background-color: white;
    padding:1rem;
    border-radius: 2.25rem
}
.blue{
    color: #0070D3;
}
.color{
    color: #31418C;
}
.edit{
    position: absolute;
    top: 51%;
    left: 86%;

}
.filterCount{
    padding: 1rem 2rem !important;
    color: #C8D2E2 !important;
}
.btn{
    background: transparent !important; 
    color: #C8D2E2;
}
.cardButton{
    border: none !important

}
.active{
    background-color: #0070D3 !important;
   
}
.cardFooter{
    border-top: 1px solid #C8D2E2;
    padding: 0 !important;
}