.relatedChalets{
  margin-top: 3.7% !important;
}
.headings{
    font-size: 2.3rem;
    color:#C8D2E2;
    font-family: Poppins;
    margin: 0rem 1rem;
}
.rightdiv,.leftdiv{
    width: 4.5rem;
    color: #C8D2E2 !important;
    position: relative;
    top: 0.5rem;
    left: 0;
}
.image{
    width: 55rem;
    height: 36.8rem;
    color: #fff;
    line-height: 160px;
    text-align: center;
    background: #364d79;
  };
  .separator{
    height: 2rem;
    background-color: black;

  }
 .view-map{
    width: 76vw !important;
    height: 16.6vh !important;
    transform: translate(0px, -13px) !important;
 }
 .m-chalets{
   
   margin-right: 5.5rem;

 }